
@{
    ViewBag.Title = "ErrorTransaccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .body {
        background-color: #fffde7;
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 20px;
        font-size: xxx-large;
    }

    h1 {
        color: #ff9800;
    }

    p {
        color: #555;
    }

    .container {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    img {
        width: 35%;
        filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.7));
        max-height: 100%;
    }

</style>

<div class="body">
    <h1><i class="fas fa-exclamation-triangle error-icon"></i></h1>
    <h1>Error de transacción</h1>
    <p>Ha ocurrido un error en la transacción. Por favor, inténtalo nuevamente más tarde.</p>
</div>
<div class="container">
    <img src="~/Images/pago_error.png" />
</div>


